/*
	red         = #c82020
	pinkish red = #c84141
    nav red    = #b75556
	
 */
 .body{
 }
.heading{
	background-color:#c82020; 
	color: white;
}

.heading_left{
position: absolute;
left: 5px;
top: 0;
}

.heading_right{
position: absolute;
top: 0;
right: 5px;
}

.sub_heading_left{
position: absolute;
top: 0;
left: 0;
}
.sub_heading_right{
position: absolute;
top:0;
}
.footer_heading{
position: absolute;
right: 5px;
top: 0;
}
.vertical{
	padding : 50px 0px;

}
.navbar-default{
	border: none;
	background :white;
}

.h2{
	color: black;
}
.logo img{
	width: 100%;
	height: 170px;
	margin-left: 20px;
}
.social{
	line-height: 175px;
}
.social a{
	text-decoration: none;
	color: inherit;
	padding-right: 5px;
}
.btn-default {
    color: #fff;
    background-color: #c82020;
    border-color: #c82020;
}
.nav-justified {
    width: 100%;
    line-height: 170px;
    font-size: 15pt;
}
.nav-justified li a{
	color: #c82020;
}

